.cart-inner-container1{
    border-right:1px solid rgb(196, 196, 196);
    overflow-y: auto;
}
#txt{
    margin-top: 50px;
}
.sinppet-text1{
    font-size: 15px;
}
.snippet-text2{
    color:#132C48;
    font-size: 20px;
    margin-top: 50px;

}
.snippet-text-container1{
    display: flex;
    column-gap: 138px;
    margin-top: 10px;
}
.snippet-text-container2{
    display: flex;
    column-gap: 142px;
}
.snippet-text-container3{
    display: flex;
    column-gap: 100px;
}
.snippet-text-container4{
    display: flex;
    column-gap: 100px;
}

