*{
    padding: 0px;
    margin: 0px;
}
.para3{
    color:#132C48;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.button{
    width: 250px;
    height: 60px;
    margin-top: 50px;
    background-color: #FE8551;
    border-radius: 50px;
    border: 0px;
}

.line{
    border-top: 1px solid black;
    width: 1500px;
    margin-top: 200px;
    margin-left: 220px;
    opacity: 0.3;
}
.filter-container{
    display: flex;
    column-gap: 1450px;
}
.filter{
    color: black;
    border: 0px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    font-size: 20px;
}
.dropdown{
    margin-top: 50px;
    font-size: 15px;
    color: black;
    height: 40px;
    width: 200px;
    
}
.dropdown:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product-container{
    display: flex;
    column-gap: 50px;
    margin-left:250px
}
.paginationcount{
    margin-top: 200px;
    margin-left: 780px;
}