.outer-container1{
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    background-color: white; 
    transition: box-shadow 0.3s; 
}
.nav-shadow {
    transition: 1s;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); 
    background-color: #132C48;
}
.nav-scrolled .link.wishlist-link {
    color: #FF4500; 
}
.inner-container{
    display: flex;
    margin-top: 15px;
}
.burger-img{
    margin-top: 15px;
    margin-left: 15px;
    height: 25px;
    width: 25px;
}
.profile-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 1px;
    border:#132C48 3px solid;
}
.name{
    font-size: 5px;
    margin-top: 5px;
    color: #132C48;
    font-weight:lighter;
}
.nav-shadow .name {
    color: white; 
    transition: color 0.3s;
    font-weight:lighter; 
}
#name1{
    margin-left: 5px;
}
.heart-img{
    height: 25px;
    width: 25px;
    margin-left: 40px;
    margin-top: 12px;
    margin-right: 3px;
}
.cart-img{
    height: 25px;
    width: 25px;
    margin-left: 50px;
    margin-top: 12px;
}
.down-img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;
}
.link{
    text-decoration:none;
}
.login-button{
    font-size: 5px;
    margin-top: 5px;
    color: #132C48;
    font-weight:lighter;
}