.LoginFormContainer{
    margin-top: 140px;
    width: 600px;
    height: 700px;
}
.fadeOverlay {
    position: absolute;
    top: 6;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(83, 83, 83, 0) 70%, rgb(155, 155, 155) 100%);
    pointer-events: none; 
    height: 70vh;
  }
  .FormSubHeading {
    color: rgb(90, 90, 90);
    padding-top: 10px;
    position: relative; 
    display: inline-block; 
  }
  
  .FormSubHeading::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: rgb(90, 90, 90); 
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
  }
  
  .FormSubHeading:hover::after {
    width: 100%; 
  }
  
.FormHeading{
    font-size: 35px;
    text-align: center;
}
.rgisterLabel{
    margin-top: 50px;
}
.userInput{
    border-radius: 5px;
    height: 50px;
    border: solid 1px gray;
}
.userInput::placeholder{
    font-size: 15px;
}
.submitRegisterForm{
    border-radius: 100px;
    background-color: black;
    width: 600px;
    height: 60px;
    font-size: 20px;
    font-weight:bold;
    color: white;
    margin-top: 10px;
}

.termsSpan{
    text-decoration: underline;
}
.submitLoginForm{
    border-radius: 100px;
    background-color: black;
    width: 600px;
    height: 60px;
    font-size: 20px;
    font-weight:bold;
    color: white;
    margin-top: 50px;
}
